<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bplaced.esigala1.musicworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/activity_name_now_playing" />
        <activity
            android:name=".SongsActivity"
            android:label="@string/activity_name_songs" />
        <activity
            android:name=".ArtistActivity"
            android:label="@string/activity_name_artist_band" />
        <activity
            android:name=".SongOfTheDayActivity"
            android:label="@string/activity_name_song_of_the_day" />
    </application>

</manifest>